.add_btn{
  text-align: right;
}
.container{
  overflow:auto;
}
.left_view h3,p{
  font-size: 20px;
  font-weight: 600;
}
.left_view span{
  font-size: 20px;
  font-weight: 400;
}
.right_view h3,p{
  font-size: 20px;
  font-weight: 600;
}
.right_view span{
  font-size: 20px;
  font-weight: 400;
}